.app {
  padding: 2rem;
  max-width: 1400px; 
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  min-height: 100vh;
  background-color: #0d1117;
  color: #f3f4f6;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.website-title {
  font-size: clamp(2rem, 8vw, 4.5rem);
  color: #2196F3;
  margin-bottom: 2.5rem;
  letter-spacing: 5px;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  font-weight: 900;
}

.search-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto;
    width: 90%;
    max-width: 700px;
}

.search-main {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    border: 2px solid #2d3748;
    border-radius: 12px;
    overflow: hidden;
}

.search-main:focus-within {
    border-color: #2196F3;
}

.search-main input {
  padding: 1rem 1.5rem;
  width: 75%;
  border: none;
  background-color: #161b22;
  color: #f3f4f6;
  font-size: 1.1rem;
  outline: none;
}

.search-main button {
  padding: 1rem 1.5rem;
  width: 25%;
  background-color: #2196F3;
  color: white;
  border-left: 2px solid #2d3748;
  font-size: 1.1rem;
  transition: background-color 0.2s, opacity 0.2s;
}

.search-main button:hover:not(:disabled) {
  background-color: #1976D2;
}

.search-main button:active:not(:disabled) {
  transform: translateY(1px);
}

.search-main button:disabled {
  cursor: not-allowed;
  background-color: #374151;
  opacity: 0.7;
}

.search-filters {
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 100%;
    max-width: 700px; 
    padding-top: 10px;
}

.filter-input, .filter-select {
    padding: 0.8rem 1rem;
    border-radius: 8px;
    border: 1px solid #2d3748;
    background-color: #161b22;
    color: #f3f4f6;
    font-size: 1rem;
    appearance: none;
    cursor: pointer;
    width: calc(33.33% - 10px); 
    max-width: 160px;
    box-sizing: border-box;
}

.filter-select {
    padding-right: 20px;
}

.filter-info {
    color: #5d6d7e;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
}

.status-message {
    margin-top: 5rem;
    font-size: 1.5rem;
    color: #9ca3af;
    font-weight: 300;
}

.error-message {
    color: #ef4444; 
    font-weight: 500;
    padding: 1rem;
    border: 1px dashed #ef4444; 
    max-width: 500px;
    margin: 3rem auto;
    border-radius: 8px;
    background-color: #161b22; 
}

.error-message h4 {
    font-size: 1.4rem; 
    color: #ef4444; 
    margin: 0; 
    padding: 0; 
    line-height: 1.6;
}

.container {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 30px; 
  justify-items: stretch;
  padding: 0 1rem;
}

.movie-card {
  max-width: none; 
  width: 100%; 
  background-color: #161b22;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  overflow: hidden; 
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  
  min-height: 480px; 
  display: flex;
  flex-direction: column;
  border: 1px solid transparent;
}

.movie-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(33, 150, 243, 0.5);
  border-color: #2196F3;
}

.card-image {
  aspect-ratio: 2 / 3; 
  max-height: 350px; 
  overflow: hidden; 
  position: relative; 
  flex-shrink: 0; 
  
  background-color: #161b22; 
}

.no-image-placeholder {
    height: 100%;
    width: 100%;
    color: #9ca3af;
    font-weight: bold;
    font-size: 1.4rem;
    text-align: center;
    
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: #161b22;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  object-position: center; 
  transition: opacity 0.3s, transform 0.5s;
}

.movie-card:hover .card-image img {
  transform: scale(1.05);
}

.card-info {
  padding: 0.8rem; 
  text-align: left;
  
  flex-grow: 1; 
  flex-shrink: 1; 
  min-height: 0; 
  
  overflow-y: hidden; 
  overflow-x: hidden; 
  
  border-top: 1px solid #2d3748;
}

.card-meta-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3px;
}

.movie-rating-text {
    color: #f3f4f6; 
    font-size: 0.8rem; 
    font-weight: 500;
}

.movie-type {
  font-size: 0.75rem; 
  color: #818cf8;
  text-transform: uppercase;
  font-weight: 600;
}

.movie-title {
  font-size: 1.2rem; 
  margin: 0.1rem 0;
  color: #f3f4f6;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2;
}

.card-metadata-fixed-height {
    display: block; 
}

.movie-released-date {
    font-size: 0.85rem; 
    color: #9ca3af;
    margin-top: -2px; 
    margin-bottom: 4px; 
}


.card-genre-runtime {
    margin-top: 4px;
    font-size: 0.8rem; 
    color: #9ca3af;
    display: flex;
    gap: 8px;
}

.movie-imdb-rating {
    font-size: 0.9rem; 
    color: #fce300; 
    font-weight: 600;
    margin-top: 8px;
}

.movie-language {
    font-size: 0.8rem; 
    color: #9ca3af;
    margin-top: 4px;
    margin-bottom: 0 !important; 
}

.movie-plot {
    font-size: 0.85rem; 
    line-height: 1.3;
    color: #c9d1d9;
    margin-top: 4px;
    padding-right: 5px; 
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(5px);
    
    overflow-y: auto; 
}

.modal-content {
    background: #161b22;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    max-width: 900px;
    width: 90%;
    position: relative;
    color: #f3f4f6;
    animation: fadeIn 0.3s ease-out;
    border: 1px solid #2d3748;
    
    max-height: 90vh; 
    overflow-y: auto; 
}

.modal-close-btn {
    position: absolute;
    top: 15px;
    right: 25px;
    background: none;
    border: none;
    color: #9ca3af;
    font-size: 2rem;
    cursor: pointer;
    transition: color 0.2s;
}

.modal-close-btn:hover {
    color: #fff;
}

.modal-details {
    display: flex;
    gap: 30px;
    text-align: left;
    align-items: center; 
}

.modal-poster-container {
    width: 300px;
    flex-shrink: 0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.modal-poster {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover; 
    object-position: center;
}

.modal-placeholder {
    height: 450px; 
    width: 100%; 
    background-color: #2d3748; 
    color: #9ca3af;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-weight: bold;
    font-size: 1.4rem;
    text-align: center;
}

.modal-info {
    flex-grow: 1;
}

.modal-title {
    font-size: 2rem; 
    color: #2196F3;
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.1;
}

.modal-release-date {
    font-size: 1.1rem;
    color: #f3f4f6;
    margin-top: -0.2rem;
    margin-bottom: 0.8rem;
    font-weight: 300;
}


.modal-sub-meta {
    margin-bottom: 1.5rem;
    font-size: 0.95rem; 
}

.detail-genre, .detail-runtime, .detail-rating-text, .detail-imdb, .detail-language {
    margin-right: 10px;
    font-size: 0.9rem; 
    display: inline-block;
}

.detail-imdb {
    color: #fce300; 
    font-weight: 600;
}

.detail-rating-text {
    color: #fff;
}

.section-title {
    font-size: 1.1rem; 
    color: #2196F3;
    margin-top: 15px;
    margin-bottom: 5px;
    border-bottom: 1px solid #2d3748;
    padding-bottom: 3px;
}

.personnel-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9rem; 
    color: #c9d1d9;
}

.personnel-list li {
    margin-bottom: 5px;
}

.detail-cast {
    font-size: 0.9rem; 
    color: #c9d1d9;
    margin-top: 5px;
}

.modal-plot-full {
    font-size: 0.95rem; 
    line-height: 1.6;
    color: #c9d1d9;
}


@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}

@media (max-width: 768px) {
    .container {
      grid-template-columns: 1fr;
      gap: 20px;
    }
    
    .modal-content {
        padding: 20px;
        max-width: 95%;
        margin: 20px 10px; 
    }
    .modal-details {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .modal-poster-container {
        width: 80%;
        max-width: 300px;
        margin-bottom: 20px;
    }
    .modal-title {
        font-size: 1.8rem;
    }
    .search-filters {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .filter-input, .filter-select {
        width: 100%;
        max-width: 300px;
    }
}